resources/My_workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "id": "6a83d020-97ef-488a-9b18-5e696c0ebc7b",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        560,
        660
      ]
    },
    {
      "parameters": {
        "chatId": "-1002079843100",
        "text": "=There are {{ $json.result }} members in this chatroom.",
        "additionalFields": {}
      },
      "id": "7ae08a96-6632-4332-a7f6-39c466401285",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        940,
        660
      ],
      "credentials": {
        "telegramApi": {
          "id": "nL7UKSCRL1TCh7ZD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002037860106",
        "text": "=Invite link: {{ $json.result.invite_link }}",
        "additionalFields": {}
      },
      "id": "11bac6ed-2b36-4131-b00e-e6b5f2f32863",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        940,
        1020
      ],
      "credentials": {
        "telegramApi": {
          "id": "nL7UKSCRL1TCh7ZD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002037860106",
        "text": "=New invite link: {{ $json.result }} ",
        "additionalFields": {}
      },
      "id": "ba65ac47-2af7-4fc7-b056-9ecf54393d77",
      "name": "Telegram2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        940,
        1200
      ],
      "credentials": {
        "telegramApi": {
          "id": "nL7UKSCRL1TCh7ZD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002079843100"
      },
      "id": "35bf9650-d277-40c2-ba18-4491e2bf922d",
      "name": "TelegramExpansion",
      "type": "n8n-nodes-telegramcount.TelegramExpansion",
      "typeVersion": 1,
      "position": [
        760,
        660
      ],
      "credentials": {
        "TelegramApi": {
          "id": "UaXvVdPIKlYW1ZZ0",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "dice",
        "chatId": "-1002079843100"
      },
      "id": "2c0fda02-6fa4-4337-90d2-e00d7eb8792f",
      "name": "TelegramExpansion1",
      "type": "n8n-nodes-telegramcount.TelegramExpansion",
      "typeVersion": 1,
      "position": [
        760,
        840
      ],
      "credentials": {
        "TelegramApi": {
          "id": "UaXvVdPIKlYW1ZZ0",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "createLink",
        "chatId": "-1002037860106"
      },
      "id": "ba299258-5bb0-43e2-a067-ed583ebecdb5",
      "name": "TelegramExpansion2",
      "type": "n8n-nodes-telegramcount.TelegramExpansion",
      "typeVersion": 1,
      "position": [
        760,
        1020
      ],
      "credentials": {
        "TelegramApi": {
          "id": "UaXvVdPIKlYW1ZZ0",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "exportLink",
        "chatId": "-1002037860106"
      },
      "id": "3b9e64ee-bc0f-47c9-89fd-f6ee381a6600",
      "name": "TelegramExpansion3",
      "type": "n8n-nodes-telegramcount.TelegramExpansion",
      "typeVersion": 1,
      "position": [
        760,
        1200
      ],
      "credentials": {
        "TelegramApi": {
          "id": "UaXvVdPIKlYW1ZZ0",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "TelegramExpansion",
            "type": "main",
            "index": 0
          },
          {
            "node": "TelegramExpansion1",
            "type": "main",
            "index": 0
          },
          {
            "node": "TelegramExpansion2",
            "type": "main",
            "index": 0
          },
          {
            "node": "TelegramExpansion3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelegramExpansion": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelegramExpansion2": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelegramExpansion3": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e66d95e-9163-47db-bf64-8f39759a1c21",
  "id": "ugYocTi5XBVVY04y",
  "meta": {
    "instanceId": "8e443407cf6e59c2d47966cfbd86d64063ad9ca1fcf0e1b5cf4a767d35e3b2c4"
  },
  "tags": []
}